<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <form>
            <input v-model="name" placeholder="masukan kata">
            <ul v-for="user in users">
                <li>{{user.name}}</li>
            </ul>
        </form>
        {{name}}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                users: [{
                    name: 'Kalkulus'
                }, {
                    name: 'Fisika Dasar'
                }, {
                    name: 'Aljabar Linie Elementer'
                }, {
                    name: 'Aljabar Abstrak'
                }, {
                    name: 'Algoritma Pemrograman'
                }, ]
            }
        })
    </script>

</body>

</html>